<% @title = "##{@channel}: #{@year}" %>
<table class="fullyear">
  <tr class="head">
    <td style="text-align: left"><%= link_to "&laquo; #{@year-1}".html_safe, year_path(@channel, @year-1)%></td>
    <td style="text-align: center; font-weight: bold">#<%= @channel %>: <%= @year %></td>
    <td style="text-align: right"><%= link_to "#{@year+1} &raquo;".html_safe, year_path(@channel, @year+1)%></td>
  </tr>
  <% (1..12).to_a.in_groups_of(3).each do |quarter| %>
    <tr class="quarter">
    <% quarter.each do |month| %>
    <td class="month">
      <%= render :partial => 'message/calendar', :locals => { :channel => @channel, :year => @year, :month => month, :opts => year_display_opts } %>
    </td>
    <% end %>
    </tr>
  <% end %>
</table>
