<% @title = "##{@channel}: #{@year}" %>
<table class="fullyear">
  <tr class="head">
    <td style="text-align: left"><%= previous_year_with_messages(@channel, @year) %></td>
    <td style="text-align: center; font-weight: bold">#<%= @channel %>: <%= @year %></td>
    <td style="text-align: right"><%= next_year_with_messages(@channel, @year) %></td>
  </tr>
  <% (1..12).to_a.in_groups_of(3).each do |quarter| %>
    <tr class="quarter">
    <% quarter.each do |month| %>
    <td class="month">
      <%= render :partial => 'message/calendar', :locals => { :channel => @channel, :year => @year, :month => month, :opts => year_display_opts } %>
    </td>
    <% end %>
    </tr>
  <% end %>
</table>
<%= render :partial => '/message/time_zone_selector' %>
