<% @title = capture do %>
   <%= @date.strftime('%Y-%m-%d') %> - #<%= @channel %>
<% end %>
<div id="content">
  <div style="float:left; text-align:left"><%=link_to("&laquo; #{display_day_month(@date-1.day)}".html_safe, path_for_date(@channel,@date-1.day))%></div>
  <div style="float:right; text-align:right"><%=link_to("#{display_day_month(@date+1.day)} &raquo;".html_safe, path_for_date(@channel,@date+1.day))%></div>
  <div style="text-align:center; font-weight: bold">
    #<%= @channel %>: <%=display_month(@date)%> <%=@date.day%>, <%= link_to(@date.year,year_path(@channel,@date.year))%>
  </div>
  <table class="messages">
    <% @messages.each_with_index do |msg,i| %>
      <% content = format_msg(msg.what) %>
      <% unless content.nil? %>
      <tr class="<%= i % 2 == 0 ? 'even' : 'odd' %>">
        <td class="when"><a name="<%=msg.id%>"><%= Time.zone.at(msg.when.utc).strftime('%H:%M:%S') %></a></td>
        <td class="who"><%= msg.who %></td>
        <td class="what"><%= content %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<%= render :partial => '/message/time_zone_selector', :locals => { :extra_styles => 'float: right' } %>
<div></div>